.home_link {
    display:block;
    width:100%;
    /*height:100%;*/
}
.cover_screen_dropdown {
    background-color: transparent;
    z-index:2;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
}
.top_nav {
    z-index:3;
    display:table;
    position:absolute;
    width: 80%;
    height: 24px;
    top: 0px;
    background-color: #5E666E;
    text-align:center;
    padding-left:10%;
    padding-right:10%;
}
.nav_span {
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height:24px;
    display:table-cell;
    text-align:center;
    width: 100%;
    height: 24px; 
}
.nav_left {
    position:relative;
    display:table-cell;
    height: 24px;
    background-color: #5E666E;
    width:flex;
    /*padding-left:24px;*/
}
.nav_left_span {
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height:24px;
    display:inline-block;
    text-align:left;
    width: 100%;
    height: 24px;
}
.nav_right {
    position:relative;
    display:table-cell;
    height: 24px;
    background-color: #5E666E;
    width:flex;
    /*padding-right:24px;*/
}
.nav_right_span {

    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height:24px;
    display:inline-block;
    text-align:right;
    width: 100%;
    height: 24px;
}
.nav_name {
    z-index:3;
    position:relative;
    display:inline-block;
    width:240px;
    text-align:left;
    padding-left:4px;
    padding-right:4px;
    box-sizing:border-box;
    cursor: pointer;
}
.nav_name::after {
    z-index:3;
    content: "\25bc"; /* HTML symbol */
    /* Reposition */
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 6px;
    line-height: 24px; /* Vertical center text */
}

.nav-select {
    position: relative;
    margin-bottom: 0px;
    display:inline-block;
    /*width:128px;*/
    vertical-align:middle;
}
.nav-select select {
    z-index:2;
    appearance: none;
    /* Best to include the browser prefix for cross-browser compatibility */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #5E666E;
    color:#FFFFFF;
    font-size:10pt;
    border-radius:4px;
    border-style:none;
    width:100%;
    height:24px;
    padding-left:28px;
    padding-right:28px;
    box-sizing:border-box;
}
.nav-select select, .nav-select::after {
    position:relative;
    height: 24px;
    font-size:10pt;
    background-color:transparent;
}
.nav-select::after {
    z-index:1;
    content: "\25bc"; /* HTML symbol */
    /* Reposition */
    color:#FFFFFF;
    font-size:10pt;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 8px;
    line-height: 24px; /* Vertical center text */
}
.nav-select option {
    background-color:#5E666E;
    
}
.nav_symbol {
    vertical-align:middle;
    height:24px;
    line-height:24px;
    display:block;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}

.nav_dropdown {
    position:absolute;
    right:0px;
    top:0px;
    display:block;
    width:240px;
    height:auto;
    text-align:left;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    border-radius:4px;
    padding-left:12px;
    padding-right:12px;
    box-sizing:border-box;
    padding-top:24px;
    padding-bottom:8px;
    margin-right:10%;
    background-color:#5E666E;
    overflow:visible;
    z-index:2;
}
.nav_dropdown_span {
    display:block;
    padding: 3px;
}
.nav_dropdown_span a {
    color:#FFFFFF;
}
.nav_dropdown_span_inactive {
    display:block;
    padding: 3px;
    font-weight:normal;
    color:#A2A2A2;
}
.nav2 {
    z-index:1;
    display:table;
    position:absolute;
    width: 80%;
    height: 72px;
    top: 24px;
    background-color: #6D7F91;
    text-align:center;
    padding-left:10%;
    padding-right:10%;
}
.nav2_left {
    position:relative;
    display:table-cell;
    height: 72px;
    background-color: transparent;
    width:flex;
    vertical-align:middle;
    text-align:left;
    /*padding-left:24px;*/
}
.nav2_right {
    z-index:3;
    position:relative;
    display:table-cell;
    height: 72px;
    vertical-align:bottom;
    text-align:right;
    padding-bottom:16px;
    background-color:transparent;
    width:flex;
    box-sizing:border-box;
    /*padding-right:24px;*/
}
.nav2_links {
    margin-left:40px;
    font-weight:bold;
    color:#FCFCFC;
    font-size:13pt;
    display: inline-block;
}
.nav2_links a {
    font-weight:bold;
    color:#FCFCFC;
    font-size:13pt;
}
.nav2_links_selected {
    margin-left:40px;
    font-weight:bold;
    color:#FCFCFC;
    font-size:13pt;
    display: inline-block;
}
.nav2_links_selected a {
    font-weight:bold;
    color:#FCFCFC;
    font-size:13pt;
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 1);
}

.main_div2 {
    height: calc(100% - 96px);
    width:100%;
    display:table;
    background-color:#EEE;
    position:absolute;
    top:96px;
}
.main_div_cell_padding_left {
    vertical-align: top;
    text-align: left;
    display:table-cell;
    width:10%;
    height:100%;
    background-color:#FFFFFF;
}
.main_div_cell_left {
    position:relative;
    vertical-align: top;
    text-align: left;
    display:table-cell;
    width:360px;
    height:100%;
    background-color:#EFEFEF;
    border-width: 1px;
    border-left-style: solid;
    border-left-color: #CACACA;
}
.main_div_cell_right {
    position:relative;
    vertical-align: top;
    text-align: left;
    display:table-cell;
    height:100%;
    padding-left:5%;
    padding-right:10%;
    background-color:#FFF;
    border-width: 1px;
    border-left-style: solid;
    border-left-color: #CACACA;
}
.minimizer {
    position: absolute;
    right:0;
    margin:0;
    top:50%;
    vertical-align:middle;
    text-align:center;
    display:block;
    width:10px;
    height:27px;
    line-height:27px;
    font-size: 6pt;
    color:#57575F;
    background-color:#CACACA;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
}
.minimizer:hover, .maximizer:hover {
    background-color:#BABABA;
}
.maximizer {
    position: absolute;
    left:0;
    margin:0;
    top:50%;
    vertical-align:middle;
    text-align:center;
    display:none;
    width:10px;
    height:27px;
    line-height:27px;
    font-size: 6pt;
    color:#57575F;
    background-color:#CACACA;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
}
.left_header {
    padding-top:12px;
    padding-left:24px;
    padding-right:24px;
    padding-bottom:12px;
    display:block;
    font-size:14pt;
}
.left_header_sub {

    font-size:9pt;
}
.left_nav {
    display:block;
    position:relative;
}
.left_nav_elem {
    position:relative;
    padding-left:24px;
    padding-right:24px;
    padding-bottom:12px;
    display:block;
    font-size:11pt;
    font-weight:bold;
}
.left_nav_sub {
    padding-left:28px;
    padding-bottom:0px;
    display:block;
    position:relative;
}
.straight_line {
    width:1px;
    background-color:#CDCDCD;
    display:block;
    position:absolute;
    top:10px;
    bottom:24px;
    left:29px;
}
.straight_line_sub {
    width:1px;
    background-color:#CDCDCD;
    display:block;
    position:absolute;
    top:0;
    bottom:22px;
    left:58px;
}
.left_nav_elem_sub {
    position:relative;
    padding-left:24px;
    padding-right:24px;
    padding-bottom:11px;
    display:block;
    font-size:10pt;
    font-weight:normal;
}
.menu_expand {
    position:relative;
    border-width:1px;
    border-style:solid;
    border-color:#787878;
    vertical-align:middle;
    line-height:10px;
    text-align:center;
    color:#787878;
    background-color:#EFEFEF;
    width:10px;
    height:10px;
    font-size:8pt;
    display:inline-block;
    margin-bottom:4px;
    margin-right:16px;
    z-index:2;
}
.menu_expand_empty {
    position:relative;
    border-width:1px;
    border-style:solid;
    border-color:#787878;
    vertical-align:middle;
    line-height:10px;
    text-align:center;
    color:#787878;
    background-color:#EFEFEF;
    width:10px;
    height:10px;
    font-size:8pt;
    display:inline-block;
    margin-bottom:4px;
    margin-right:16px;
    z-index:2;
}
.horizontal_line {
    height:1px;
    width:16px;
    background-color:#CDCDCD;
    display:block;
    position:absolute;
    top:8px;
    left:29px;
}.horizontal_line_sub {
    height:1px;
    width:16px;
    background-color:#CDCDCD;
    display:block;
    position:absolute;
    top:8px;
    left:30px;
}
.main_div_cell2 {
    position:relative;
    vertical-align: top;
    text-align: left;
    display:table-cell;
    height:100%;
    padding-left:10%;
    padding-right:10%;
    background-color:#FFF;
}
.main_header {
    position:relative;
    width:100%;
    margin-top:40px;
    margin-bottom:20px;
    text-align:left;
}
.legend_block {
    width:120px;
    display:inline-block;
    font-size:9pt;
    /*border: 1px solid #000;*/
    
}
.main_header_line_1 {
    display:block;
    font-size:14pt;
}
.main_header_line_2 {
    display:block;
    font-size:19pt;
    font-weight:bold;
}
.main_div {
    height: calc(100% - 24px);
    width:100%;
    display:table;
    background-color:#EEE;
    position:absolute;
    top:24px;
}
.main_div_cell {
    vertical-align: middle;
    text-align: center;
    display:table-cell;
    width:100%;
    height:100%;
    background-color:#FFF;
}
.login_window {
    position: relative;
    width: 384px;
    height: 384px;
    background-color:#FCFCFC;
    margin: 0 auto;
    border-radius:4px;
    border-style:solid;
    border-color:#575757;
    border-width:1px;
}
.login_top {
    position: relative;
    width: 100%;
    height: 24px;
    line-height:24px;
    background-color:#DEDEDE;
    text-align: center;
    color: #57575F;
}
.login_main {
    position:relative;
    width:70%;
    height:360px;
    margin: 0 auto;
    display:table;
}
.login_main_cell {
    vertical-align: middle;
    text-align: left;
    position:relative;
    width:100%;
    height:auto;
    display:table-cell;
}
.login_main_span {
    color:#57575F;
    font-size:16pt;
    display:block;
    padding: 3px;
}
.login_small_text {
    color:#57575F;
    font-size:12pt;
    display:block;
    padding: 3px;
}
.login_input {
    width:100%;
}
.login_submit {
    color:#FFFFFF;
    background-color: #74BCFF;
    border-color:#A6D4FF;
    width:100%;
    text-align:center;
}
.select_study_span {
    text-align:center;
    color:#57575F;
    font-size:16pt;
    display:block;
    padding: 8px;
}

.column_lightgrey {
  background-color: #FAFAFA;
}
.overview_table td, th {
    border: 1px solid #CACACA;
    border-collapse: collapse;
    padding:16px;
    vertical-align: middle;
    text-align:center;
}
.overview_table {
    width:100%;
    border: 1px solid #CACACA;
    border-collapse: collapse;
    padding:16px;
    vertical-align: middle;
    text-align:center;
}
.overview_table th {
    font-weight:bold;
    background-color:#EFEFEF;
    font-size:11pt;
}
.overview_table td {
    font-size:12pt;
}
.overview_table tr:hover {
  background-color: #E0FFDE;
  font-weight:bold;
}
.font_cross {
    color:#AA0000;
}
.font_exclam {
    color:#FFA800;
}
.font_tick {
    color:#0DA700;
}
.custom-select select {
    appearance: none;
    /* Best to include the browser prefix for cross-browser compatibility */
    -webkit-appearance: none;
    -moz-appearance: none;
    color:#57575F;
    font-size:16pt;
    border-radius:4px;
    border-style:solid;
    border-width:1px;
    border-color:#8F8FB9;
    width:100%;
    height:36px;
    box-sizing:border-box;
}
.custom-select {
    position: relative;
    margin-bottom: 16px;
}

.custom-select select, .custom-select::after {
    position:relative;
    z-index:2;
    height: 32px;
    background-color:transparent;
}
 
.custom-select::after {
    z-index:1;
    content: "\25bc"; /* HTML symbol */
    /* Reposition */
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 8px;
    line-height: 32px; /* Vertical center text */
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family:Helvetica;
    font-size:12pt;
    overflow-y:scroll;
    max-width: 100%;
    overflow-x: auto;
    margin: 0;
    padding: 0;
    /*
    zoom: 0.9;
    -moz-transform: scale(0.9);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.9);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.9);
    -webkit-transform-origin: 0 0;
    transform: scale(0.9);
    transform-origin: 0 0;
    */
}
a {
    color:#4077A9;
    text-decoration:none;
}
input {
    color:#57575F;
    font-size:16pt;
    border-radius:4px;
    border-style:solid;
    border-width:1px;
    border-color:#8F8FB9;
    height:36px;
    margin-bottom:12px;
    padding: 3px;
    box-sizing:border-box;
}
